button{
    font-size:1.2rem;
    width:10em;
    height:3em;
   
    cursor: pointer;

    border-radius:6px 0 6px 0;
    text-transform:uppercase;
    background-color:#4b1f0e;
    color:white;
    font-weight:800;
}