button{
    font-size:1.3rem;
    text-transform:uppercase;
    width:10em;
    height:2em;
    margin:0 auto;
    border-radius:8px 0 8px 0;
    background-color:hsl(25, 69%, 59%);
    border:none;
    word-spacing:2px;

    a{
        color:#fff;
    }
}