.hero-section{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    
    margin-top:5.3em;
    padding-block:2em;
    height:calc(100vh - 5.3em);

    background:linear-gradient(90deg,
        hsla(60, 3%, 6%, 0.9),
        hsla(0, 0%, 6%, 0.2)
        
    )
    ,url("/Images/jessica-lewis-Am2kjOEKADs-unsplash.jpg");
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;

    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-flow:column;

    

    h2{
        font-size:3.8rem;

        font-weight:800;
        
        
        text-transform: capitalize;
        line-height:1.5;
        color:#fff;

                
       
        span{
            color:#DFB78C;
        }
    }

    p{
        font-size:1.8rem;
        color:white;
        line-height:1.7;
        text-indent:10px;

    }
    .btn-section{
        display: flex;
        gap:4em;
    }
    button{
       background-color: #DFB78C;
       color:#4b1f0e;
    }
}